

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Raleway", sans-serif;
  color: #444444;
}

.colorfont {
	color: #ffffff;
}

a {
  color: #995700;
  text-decoration: none;
}

a:hover {
  color: #0047cc;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #009970;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: #00c28e;
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable AOS delay on mobile
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  width: 100%;
  transition: all 0.5s;
  top: 20px;
}

/*--------------------------------------------------------------
#Moving announcement
--------------------------------------------------------------*/
/* a {
  color: #fff;
  text-decoration: none
}

body {
  height: 100vh;
  background: #3e3232;
  font-family: 'Poppins', sans-sherif;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  overflow: hidden
} */

.ticker {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 60px;
  
  cursor: pointer;
  
}

.announcements {
  width: 80%;
  background: #523FC6;
  padding: 5px 1%
}

.title {
  width: 250px;
  text-align: center;
  background: #4636aa;
  position: relative
}

.title h5 {
  color: #fff;
  font-size: 18px;
  margin: 8% 0
}

.announcements marquee {
  font-size: 18px;
  margin-top: 12px
}

.content p {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 5px 20px 5px 20px;
  border-radius: 25px;
  margin-right: 41px;
  display: inline
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f6f6f7;
}

.section-title {
  padding-bottom: 20px;
}
.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}
.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 200px;
  height: 3px;
  background: #009970;
  bottom: 10px;
  left: 0;
}
.section-title p {
  margin-bottom: 0;
}

.section .login{
  padding: 100px 300px;
  overflow: hidden;
}

/*--------------------------------------------------------------
# Featured Announcement using bootstrap testimonials
--------------------------------------------------------------*/
.testimonials .testimonials-carousel, .testimonials .testimonials-slider {
  overflow: hidden;
  
}

.testimonials .testimonial-item {
  position: relative;
  box-sizing: border-box;
  padding: 15px 15px 30px 20px;
  margin: 10px 0px;
  text-align: left;
  min-height: 130px;
  max-height: 130px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  background: #fff;
}
.testimonials .testimonial-item .testimonial-img {
  width: 100px;
  border-radius: 0%;
  border: 4px solid #fff;
  margin: 0 auto;
  float: left;
  display: block;
}
.testimonials .testimonial-item .text-center{
  padding:20px; 
  position: absolute; 
  bottom: 0; 
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;
}

.testimonials .testimonial-item h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 3px 0 1px 0;
  color: #111;
}
.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #5d616c;
  margin: 0;
}
.testimonials .testimonial-item .read-btn{
  
  background: #4636aa;
  border: 0;
  padding: 5px 25px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
  font-size: 20px;
}
.testimonials .testimonial-item .read-btn:hover {
  color: #4636aa;
  background: #fff;
  border: 2px solid #4636aa;
}
/* .testimonials .testimonial-item .read-btn-red{
  background: #c91010;
  border: 0;
  padding: 5px 25px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
} */
/* .testimonials .testimonial-item .read-btn-red:hover {
  color: #c91010;
  background: #fff;
  border: 2px solid #c91010;
} */

.testimonials .testimonial-item p {
  font-style: "Open Sans", sans-serif;
  margin: 0 auto 15px auto;
}
.testimonials .swiper-pagination {
  margin-top: 0px;
  position: relative; 
  width: 20%;
  margin-left: 80%;
  
}
.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #4636aa;
  
}
.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #4636aa;
  
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #444444;
  font-size: 14px;
  background: #f1f0f2;
  
}
#footer .credits {
  padding-top: 5px;
  font-size: 13px;
  color: #444444;
}
